body, p, td, th {
   font-family: Calibri, Arial, Helvetica, sans-serif;
}

table {
   border: none;
   border-collapse: collapse;
}

th {
	white-space: nowrap;
	vertical-align: bottom;
}

td {
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
}

h1 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #093678;
}

h2 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #093678;
}

h3 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #093678;
}

 .background {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #94B9EF;
	background-image: url("https://weather.sanvash.com/duo1ze-xtgONQzGgOE-unsplash-v1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;
}

.tableXscroll {
   overflow-x: auto;
}

.colhead {
	text-align: right;
	font-size: 9pt;
}

td.underline {
	border-bottom: 1px solid #999999;
}

.material-icons {
	font-family: 'Material Icons';
	font-size: 8pt;
	color: #666666;
}

.material-icons-big {
	font-family: 'Material Icons';
	color: #666666;
}

.topRight {
	position: absolute;
	top: 10px;
	right: 10px;
}

input {
	font-size: 22pt;
	border: 0;
	border-radius: 10px;
	padding: 3px;
	color: #666666;
}

/* placeholder style for input text */
::placeholder {
	color: #EC6E4C;
}

.current {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 30pt;
	color: #333333;
	vertical-align: top;
}

.feelslike {
	padding-left: 10px;
	padding-right: 0px;
	font-size: 14pt;
	color: #666666;
	vertical-align: top;
	text-align: left;
}

.score {
	font-size: 20pt;
	color: #333333;
	vertical-align: bottom;
}

.description {
	color: #333333;
}

.note {
	color: #333333;
	text-align: left;
}

.alert {
	font-size: 20pt;
	color: #EC6E4C;
}
.alertDetails {
	font-size: 12pt;
	color: #333333;
}

img.lg {
	width: 100px;
	height: 100px;
}
img.md {
	width: 75px;
	height: 75px;
}
img.sm {
	width: 60px;
	height: 60px;
}

.debug {
	color: #ff00ff;
}

A:link, A:visited {
   color: #EC6E4C;
   text-decoration: none;
}

A:hover, A:active {
   color: #EC6E4C;
   text-decoration: none;
}

@media screen and (max-width: 768px) {
	#addressForm { visibility: hidden; }
}
